# .gitmodules
#
# Defines submodule properties for the distributed version control system "Git".
#
# Author: Florian Wolters <wolters.fl@gmail.com>
#
# Copyright Florian Wolters (http://blog.florianwolters.de) 2014 - 2015.
#
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

[submodule "cmake"]
	path = cmake
	url = https://github.com/FlorianWolters/cmake-utils.git
